<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${movies} and ${movies.size()}">no movies :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Category</th>
    </tr>

    <tr th:each="movie : ${movies}">
        <td th:text="${movie.name}"></td>
        <td th:text="${movie.category.name}"></td>
    </tr>

</table>
<p>
    <a href="/movie/add">Add</a> |
    <a href="/movie/remove">Remove</a>
</p>

<p>
    To select a random movie click <a href="/movie/random">Here</a>
</p>
</body>
</html>