<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="movie : ${movies}" th:if="${movie.user.uid == session.userId}" class="checkbox">
        <input type="checkbox" name="movieIds" th:value="${movie.id}" th:id="${movie.id}"/>
        <label th:for="${movie.id}" th:text="${movie.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Movie" />
</form>

</body>
</html>